:root{
  --navblue: rgb(8, 8, 80);
  --gray: rgb(112, 111, 111);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
   Geneva, Verdana, sans-serif;}
  

/* style for the scroolbar */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{background: #f1f1f1;}

::-webkit-scrollbar-thumb{background: #888; border-radius: 5px;}

::-webkit-scrollbar-thumb:hover{background: #555;}

/* Page header */
.header{
    all: unset ;
    box-sizing: border-box;
    width: 100vw;
    background-color: white;
    box-shadow: 2px 4px 1px rgba(201, 195, 195, 0.3);
    position: sticky;
    top: 0;
    height: auto;
    padding: 0 10px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
}
section a, a:hover {
  color: #0fbfc5;
}
/* Nav elements in header */
.nav{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.nav a{
  text-decoration: none;
  color: black;
}
 
.nav .catlog-items, span{
  height: 100%;
  padding: 20px;
}
.nav span:hover, .catlog-items:hover{background-color: rgb(201, 198, 198);}
/* Drop down menu */
.catlog-items

.dropbtn{
  display: block;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.cat-elem{
  display: none;
  position: absolute;
  margin-top: 20px;
  max-width: 200px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 99;
}

.cat-elem a{
  display: block;
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: left;
  padding: 12px 16px;
}
.cat-elem a:hover{
  background-color: #dbd7d7;
}
.catlog-items:hover .cat-elem{
  display: block;
}

/* hero section*/

.heSlides{
  position: relative;
  margin: 0;
  padding: 0;
  display: none;
}
.faded{
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade{
   from{opacity: 0;}
   to{opacity: 1;}
}

.bg-collor{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 13, 13, 0.5);
}

.bg-collor h1{
  text-align: center;
  color: rgb(42, 204, 204);
  font-family: "Archivo Black", sans-serif;
  font-style: oblique;
  padding-top: 50px;
}
.h1big{
  font-size: 50px;
  font-family: "Kanit", sans-serif;
}
.bg-collor img{
  width: 25%;
  position: absolute;
  right: 40px;
  bottom: 60px;
}

.bg-collor p{
  text-align: center;
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Lugrasimo", cursive;
}


.hero-span{
  width: 70%;
  margin: 80px auto;
  border-radius: 10px;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.herobg-text{
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(39, 37, 37, 0.5);
  border-radius: 10px;
}
.herobg-text h1{
  color: rgb(42, 204, 204);
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}
.midd-elem img{
  width: 50%;
  position: absolute;
  right: 40px;
  bottom: 60px;
  
}
/*.midd-elem{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(238, 236, 236, 0.1)40%, rgba(0,0,0, 0.5)60%);
}*/

.herobg-text p{
  padding: 10px 0 0 20px;
  color: white;
  text-align: left;
  font-family: "Lugrasimo", cursive;;
}

/* first--section--body */
.first--section--body h2{
   text-align: center;
   font-size: 40px;
   margin: 20px 0;
}
.first--section--body p{
  
  text-align: right;
  margin: 10px;
}
.first--section--body p a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.f-sec-wraper{
  position: relative;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 40px;
}

.f-sec-img{
  width: 250px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(56, 56, 56, 0.5);
  overflow: hidden;

}
.f-sec-img img{
  height: 100%;
  width: 100%;
}
/*second section */
.second--section--body{
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url(photos/fixednebg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  height: 450px;
  max-height: 500px;
}
/*Third section */
.third--section--body{
  width: 100vw;
  margin: 0;
  padding: 0;
}

.third-section--content-body{
  width: 100%;
  padding: 60px;
  margin: 0 auto;
  background-color: rgb(8, 7, 54);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.third--content{
  width: 50%;
  padding: auto;
}

 .third--content h1{
  text-align: center;
  font-family: "Kanit", sans-serif;
}
.third--content p{
  font-family: "Lugrasimo", cursive;
}

.third--content ul li{
  font-family: "Lugrasimo", cursive;
}
/*fourth section in body */
.fourth-section{
     width: 100vw;
     
}
.fourth-section h3{
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 40px;
}
.fourt--sec-flex{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section-four-content{
    width: 350px;
    margin: 20px;
}

.section-four-content img{
  width: 100%;
  height: 250px;
}
.section-four-content h5{
  display: inline-block;
}
.spread{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spread i{
  color: orangered;
}
/*Fifth section */
.fift--section{
  width: 100vw;
  height: 400px;
  background-image: url(photos/background-for-slides.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.fift--section h1{
  text-align: center;
  font-size: 40px;
  margin: 20px 0 30px 0;
  color: black;
}

.fift-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.fifstelem{
  width: 150px;
  border-radius: 20px;
}
.fifstelem img{
  width: 100%;
  height: 100%;
}

/* Slideshow container */


  /* Styles for the production page */
  .body--p{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: hsl(0, 7%, 92%);
    padding-bottom: 30px;
    
  }
  .change-a-style a{
    text-decoration: none;
  }

  .support-elem{margin-right: 10px;}

  .header--input-p{
    position: relative;
    width: 50%;
    max-width: 700px;
  }
  .header--input-p input[type=text]{
    width:400px;
    padding: 8px;
    padding-left: 25px;
  }
  .header--input-p .fa-magnifying-glass{
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .header--input-p input[type=button]{
    padding: 8px;
    background-color: var(--navblue);
    color: white;
    border: none;
  }
  .header--input-p input[type=button]:hover{
    opacity: 0.4;
    
  }/* slide for product page*/
  .slide-body{
    margin: 0;
    padding: 10px;
    background-image: url(photos/newbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 250px;
   
}

 .body--p h1{
    text-align: center;
    margin: 20px 0;
    font-family: "Lugrasimo", cursive;
 }

 .flex---content--p{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
 }

 .aside--left--p{
    width: 15%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    height: auto;
    box-sizing: border-box;
 }

 .aside--left--p select{
  max-width: 150px;
  margin: 10px 0 20px ;
 }


 /* Filter elements*/
 
 /* The "show" class is added to the filtered elements */
 .filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.big{
  font-size: 18px;
  font-weight: bold;
}

.btn {
  display: block;
  border: none;
  outline: none;
  padding: 5px 2px;
  background-color: white;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
  text-decoration: none;
}
/* the main products page*/
 .main--p{
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
 }

 .elem--p{
  width: 200px;
  max-width: 30%;
  height: 270px;
  overflow: hidden;
  max-height: 300px ;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 4px 3px rgba(179, 177, 177, 0.3);
 }

 .elem--p:hover{
  outline: 2px solid var(--navblue);
 }

 .elem--p img{
  width: 100%;
  height: 200px;
  max-height: 220px;
  transition: transform 0.5s ease-in-out;
 }
 .elem--p img:hover{
  transform: scale(1.5);
 }
 .elem--p .des--p{
  max-width: 200px;
  font-size: 12px;
 }
 

 .elem--p button{
  background-color:  var(--navblue);
  color: white;
  font-size: 12px;
  width: 100%;
  border-radius: 8px;
  padding: 4px;
  border: none;
  cursor: pointer;
 }

 .elem--p button:hover{
  opacity: 0.8;
 }
 /* pagination page styling*/
 .hidden {
  display: none;
}

.pagination-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #040e44;
}
/* footer styling*/
 .footer--p{
  background-image: url(photos/footerbg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
 }
 .footer--flex--elem--p{
  width: 95%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .footer--txt-info{
    width: 30%;
 }
 .footer--txt-info h1{  font-family: "Kanit", sans-serif;}
 .footer--txt-info h4{
  margin: 15px 0;
  font-family: "Lugrasimo", cursive;
 }
 .footer--txt-info p{
    margin: 15px 0;
    font-family: "Lugrasimo", cursive;
 }

 .footer--sub--p{
    position: relative;
    font-family: "Lugrasimo", cursive;
 }

 .footer--sub--p input[type=text]{
    padding: 8px;
    font-size: 16px;
    padding-left: 27px;
    border-radius: 10px;
    border: none;
    outline: none;
    opacity: 0.5;
 }

 .footer--sub--p i{
    position: absolute;
    left: 8px;
    font-size: 16px;
    top: 25px;
 }

 .footer--sub--p input[type=button]{
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(99, 146, 233);
    color: white;
 }

 .footer--icon--p i{
    font-size: 20px;
    margin-right: 20px;
 }
 .copy--right{
     width: 100vw;
     background-color: black;
     color: white;
     font-family: "Lugrasimo", cursive;
 }
 .copy--right p{
     padding: 10px;
 }

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: var(--navblue); 
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}

/* style for pagination*/


/* style for small screen menu */

.iconic{
  width: 25px;
  margin: 5px 0;
  height: 6px;
  background-color: black;
  transition: 0.5s;
}
.sm-header-elem{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100px ;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999;
}
.sm-header-elem a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px;
}
.sm-header-elem a:hover{
  background-color: rgb(252, 251, 251);
  color: black;
}
.change .ico1{transform: translate(0, 11px) rotate(-45deg); background-color: red;}
.change .ico2{opacity: 0;}
.change .ico3{transform: translate(0, -11px) rotate(45deg); background-color: red;} 
/*style for the filter when in small screen small*/
.small-scr-sd-cn{
  width: 140px;
}
.sma-sc-body{
   display: inline-block;
   margin: 10px;
   padding: 6px;
   border: 1px solid rgb(30, 30, 66);
}
.small-sc-filter{
  display: none;
  max-width: 200px;
  margin-left: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 99;
}
.small-scr-sd-cn:hover .small-sc-filter{
  display: block;
  z-index: 99;
}

.elfsight-app-7210ec1f-70f3-4359-a12d-c0207d14d368{
  overflow: hidden;
  width: 200px;
}
/* media for small screens */
@media all and (min-width: 700px){
  .sm-sc-header{
      display: none;
  }
  .small-scr-sd-cn{
    display: none;
  }
}
@media all and (max-width: 700px) {
  
  .header{
    display: none;
  }
  .aside--left--p {display: none;}

  .main--p{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}